body{
background-color: white;
}
h1{
  font-style: italic;
  color: white;
  background-color:#80ffff;
  background-position: center;
  width: 470px;
  font-size: 90px;
}

  h2{
   position: absolute;
   left: 1300px;
   border-top: 5px solid #80ffff;
   background-color: #80ffff;
   border-left: 5px solid #80ffff;
   border-right: 5px solid #80ffff;
   }
   h3{
     font-size: 40px;
     color: white;

   }
#bloco{
       background-color:#80ffff;
       width: 600px;
       padding: 100px 50%;


}
h1.escrito{
        text-align: inherit;
        font-size: 50px;
        color: white;
        font-style: oblique;
}

h4{
  color: #80ffff;
  font-size: 60px;
}
ol{
  color: black;
  list-style-type:none;
  margin-top: 100px;
  padding: 0;
  width: 100px;
  background-color: #e6e6e6 ;
  font-style:normal;
  border-left: 5px solid #80ffff ;
}
li{
  display:flow-root;
  color: black;
  padding: 10px  10px 18px;
  text-decoration:underline;
  font-size: 40px;
}

ul {
      list-style-type:none;
      margin-top: 100px;
      padding: 0;
      width: 100px;
      background-color: #e6e6e6 ;
      font-style:normal;
      border-left: 5px solid #80ffff ;


  }
  li a {
      display:flow-root;
      color: black;
      padding: 10px  10px 18px;
      text-decoration:underline;
      font-size: 40px;

  }
  li a:hover {
      background-color: #e6e6e6 ;
      color: blue;


  }

.au{
  background-color:#80ffff;
  border-radius: 40px;

}

  #abrir{

    font-size: 30px;

    background-color:#80ffff;

    color: white;

    border-radius: 40px;

    margin-right:1500px;

   }

   #volt{

    background-color: yellow;

   }
  footer{
    margin-right: 40px;
  }
